body{
  margin: 0;
}

p{
  margin: 0;
}



.main-header{
  background-color: black;
  height: 60px;
  border-bottom: 2px solid rgba(164, 162, 162, 0.498);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-list{
  color: rgba(179, 172, 172, 0.727);
  font-size: 25px;
  list-style: none;
  margin: 3px 20px 0px 20px;
  

}
.pg1-logo{
  display: inline-block;
}
.head-list{
  display: flex;
  
  flex-direction: row;
}

.pg1-main{
  background-color: black;
  margin-top: 0;
}

.pg1-h1{
  color: white;
  font-size: 50px;
  margin-top: 0;
}

.pg1-para1{
  color: rgba(147, 143, 143, 0.737);
  font-size: 20px;
  margin-bottom: 20px;
}

.pg1-btn{
  background-color: #ff3400;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
}

.pg1-img{
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.pg1-main{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 600px;

}



@media screen and (min-width: 340px) and (max-width: 550px) {

 
  .head-list{
    visibility: hidden;
  }

  .pg1-h1{
    font-size: 40px;
    width: 180px;
    margin-bottom: 0px;
  }
  .h1-pg1{
    margin-left: 15px;

  }

  .pg1-para1{
    font-size: 16px;
    width: 190px;
    margin-left: -15px;
    margin-top: 10px;
    
  }

  .pg1-img{
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
  .pg1-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
}







.pg2-main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
}

.pg2-h1{
  font-size: 40px;
  color: #1b0760;
  margin-bottom: 15px;
}

.pg2-para1{
  font-size: 17px;
  color: rgba(125, 121, 121, 0.784);
  margin-bottom: 20px;
}



.search-bar-btn{
  width: 600px;
  height: 45px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 31px;
  

}

.search-bar{
  border: none;
  width: 500px;
 
  border-radius: 31px;
  



}


.search-btn{
  color: white;
  background-color: #ff3400;
  border-radius: 22px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 15px;
  border: none;
  margin: 2px;
 
}

::placeholder{
  font-size: 15px;
  padding-left: 20px;
}
.search-bar:focus{
  border: none;
}





.prices{
  display: flex;
  flex-direction: row;
  margin-top: 20px;

}

.price1{
  background-color: aqua;
  color: white;
  font-size: 20px;
  padding: 5px;
  border-radius: 15px;
  font-weight: bold;
}

.price{
  font-size: 20px;
  padding: 5px;
  color: #1b0760;
  font-weight: bold;
}




@media screen {

  .search-bar{

    width: 150px;
  }

  .search-bar-btn{
    width: 190px;
  }

  .pg2-para1{
    margin-left: 20px;
  }

  .prices{
    display: flex;
    flex-direction: column;
    margin-left: -200px;
  }

  
  
}

.pg3-main{
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  height: 650px;
  justify-content: center;
  justify-content: space-evenly;
}



.card-header{
  background-color: #00d9ff;
  width: 390px;
  border-radius: 10px 10px 0 0;
  margin-top: 30px;
  display: flex;
 flex-direction: column;
}


.pg3-para1{
  font-size: 20px;
  color: white;
  margin-left: 20px;
  padding-top: 15px;
  line-height:30px;

}

.pg3-para2{
  font-size: 29px;
  font-weight: bold;
  color: white;
  margin: 20px;
  
}
.pg3-para3{
  font-size: 20px;
  color: white;
  margin-left: 20px;
  padding-bottom: 20px;
  line-height: 25px;
}

.time-period{
  color: white;
  font-size: 18px;
}

.discount{
  font-size: 12px;
  color: white;
  background-color: rgba(128, 128, 128, 0.235);
  padding: 2px 5px 2px 5px;
  font-weight: 400;
  border-radius: 3px;
}

.chkbox{
  color: #00d9ff;
  font-size: 20px;
  margin-left: 20px;
}

.card-para{
  font-size: 20px;
  line-height: 50px;
  margin-top: 20px;

}

.card-div{
  display: flex;
  flex-direction: column;
  padding-top: 33px;
}

.pg3-btn{
  padding: 10px 50px;
  border-radius: 20px;
  border: 2px solid #1b0760;
  background-color: rgb(168, 166, 166);
  transition: 0.8;
  margin-left: 24px;
  margin-top: 20px;
  font-weight: bold;

}

.pg3-btn:hover{
  color: white;
  background-color: #1b0760;
  
}

.pg3-card:hover{
  transform: scale(1.1);
}

.pg3-card{
    height: 430px;
    width: 330px;
    background-color: rgb(255, 255, 255);
    transition: transform 0.8s ;
}

@media screen and (min-width: 340px) and (max-width: 550px) {

  .pg3-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 1800px;

  }


  .pg3-card{
   margin-top: 100px !important;
   margin-bottom: 100px !important;
  }
}






.pg4-div{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: -100px;
}


.pg4-h1{
  color: #1b0760;
  font-size: 35px;
  font-weight: bold;
}

.pg4-para1{
  color: gray;
  font-size: 19px;
}

.pg4-img{
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.pg4-para2{
  color: #1b0760;
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: bold;
}

.pg4-para3{
  color: gray;
  font-size: 18px;
  margin-bottom: 10px;
}

.pg4-para4{
  color: #ff3400;
  font-size: 18px;
  margin-top: 10px;
}

.pg4-div2{
  width: 600px;
}


.pg4-img2{
  width: 300px;
  height: 300px;
  object-fit: cover;

}

.pg4-div2-main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 200px;
}

@media  screen and (min-width: 340px) and (max-width: 550px) {

 .pg4-div2-main{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .pg4-div{
    display: flex;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
  }

  .pg4-div2{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;

  }


  .pg4-para3{
    width: 270px;
  }
}






.pg5-main{
  background-color: black;
  width: 100%vw;
}


.pg5-h1{
  color: white;
  text-align: center;
  padding-top: 70px;

}

.ipad-img{
  width: 800px;
  height: 550px;
  object-fit: cover;
}


.pg5-para1{
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.pg5-para2{
  color: rgba(170, 166, 166, 0.56);
  font-size: 18px;
  width: 470px;
}

.pg5-side-para{
  display: flex;
  flex-direction: column;
  margin-left: 6px;

}



.side-img{
  width: 60px;
  height: 60px;
  object-fit: cover;
}


.side-para-main{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 6px;
  margin-bottom: 50px;
  
}


.pg5-content{
  display: flex;
  flex-direction: row;
}


@media screen and (min-width: 340px) and (max-width: 550px) {

  .ipad-img{
    height: 150px;
    width: 250px;
    object-fit: cover;
    margin-top: 50px;
  }

  .pg5-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .side-para-main{
    width: 290px;
    margin-left: 37px;
  }

  .pg5-para2{
    width: 180px;
    font-size: 15px;
  }

  .pg5-para1{
    font-size: 25px;
  }

  .side-img1{
    margin-top: -95px;
  }
}





.pg6-h1{
  font-size: 40px;
  color: white;
  color: #1b0760;
  font-weight: bold;
}

.pg6-head{
  text-align: center;
  margin-top: 100px;
}

.pg6-para1{
  color: rgba(165, 164, 164, 0.798);
  font-size: 18px;

}


.pg6-img{
  height: 500px;
  width: 500px;
  object-fit: cover;
  margin-top: 50px;
}

.pg6-div2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

}

.pg6-para2{
  color: #1b0760;
  font-size: 18px;
  width: 500px;
  font-weight: 100px;
}

.name-company{
  display: flex;
  flex-direction: column;
}

.line{
  color: #00d9ff;
  font-size: 35px;
  
}

.name{
  color: #1b0760;
  font-size: 20px;
  font-weight: 100px;
}

.company-name{
  color: rgba(156, 156, 156, 0.583);
  font-size: 20px;
  margin-left: 32px;
  
}

.pg6-div3{
  margin-left: 20px;
  margin-top: -200px;
}


@media screen and (min-width: 340px) and (max-width: 550px) {



  .pg6-div2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;

  }

  .pg6-img{
    height: 250px;
    width: 250px;
    object-fit: cover;
  }

  .pg6-para2{
    width: 180px;
    margin-top: 260px;
  }
 
}


.pg7-main{
  background-color: black;
  height: 300px;
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  
  align-items: center;
}

.pg7-overflow{
  background-color: #2584ff;
  height: 180px;
  width: 85vw;
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: -70px;

}

.pg7-h1{
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.pg7-para1{
  color: white;
  font-size: 18px;
  margin-top: 20px;
  width: 1010px;
}


.pg7-btn{
  background-color: #00d9ff;
  padding: 15px 40px;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: 10px;
}


.para-btn{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}



@media screen and (min-width: 340px) and (max-width: 550px) {


  .pg7-main{
    height: 900px;
  }

  .pg7-overflow{
    height: 350px;
    width: 100vw;
    margin-top: -100px;
  }
  .pg7-para1{
    width: 140px;
    font-size: 15px;
    text-align: center;
    
  }


  .pg7-h1{
    font-size: 30px;
    text-align: center;
  }
  
  .pg7-btn{
    margin-top: 30px;
  }
  .para-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  .footer{
    display: flex !important; 
    flex-direction: column-reverse !important;
    align-items: center !important;

  }

  


  .pg7-logo{
    height: 35px;
    width: 150px;
    padding-bottom: 10px;

  }

  .ul-list{
    border-bottom: 1px solid rgba(178, 175, 175, 0.434);

  }
}


.pg7-para2{
  color: rgba(140, 137, 137, 0.799);
  font-size: 14px;
}



.pg7-list12{
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding-top: 9px;
}

.pg7-list1{
  color: white;
  font-size: 15px;
  font-weight: bold;
  
}


.pg7-list{
  color: grey;
  font-size: 12px;
}



.pg7-list:hover {
  color: white;
}


.footer{
  display: flex;
  align-items: center;
  flex-direction: row;
}

